@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Home Page";
}

@if (Context.Session.GetInt32("USER_LOGIN_KEY") == null)
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

}
else
{
    <div class="text-center">
        <h1 class="display-4">반갑습니다.</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}
